@charset "=UTF -8";

@font-face {
    font-family: "Miyabon";
    src: url("Miyabon.ttf")format("truetype"), url("Miyabon.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/*
Utilizando fontes externas utizando @font-face
*/
body {
    background-color: #aea9a9;

}

header {
    background-image: url("fundo 2222pente-e-das-tesouras-fundo-do-vetor-78631289.jpg");
    padding-bottom: 5px;
}

div {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

img {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 50%;
    height: 300px;
    margin: 15px;
    border: 5px solid #606062;
}

h1 {
    font-size: 35px;
    font-family: "Miyabon";
    font-style: italic;
    padding: 10px; 
    border: 5px solid #606062;
}

h2 {
    font-size: 27px;
    font-family: "Miyabon";
    color: #343437;
    margin-top: 35px;
    margin-bottom: 35px;

}

h3 {
    font-size: 35px;
    font-family: "Miyabon";
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #606062;
    border-bottom: 2px solid #606062;
    margin-top: 35px;
    margin-bottom: 35px;
}

p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    line-height: 32px;
    color: #343437;
    margin-top: 15px;
    padding: 0 20px;
}

.Info {
    margin: 0px 20px;
    font-size: 20px;
    color: rgb(243, 243, 14);
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 20px;
    width: 5px;
    height: 5px;
   
}

span {
    font-weight: bold;
}



a:hover{
    transition: 0.5s;
    font-size: 25px;
}


.whats img {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 3px;
    z-index: 9999;
}

.mapa {
    position: relative;
    padding: 25px;
}

.rodape{
    background-image: url("fundo 2222pente-e-das-tesouras-fundo-do-vetor-78631289.jpg");
    display: flex;
    justify-content: center;
    margin: 0;
}

.rodape p{
    color: rgb(30, 30, 0); 
}

@media (max-width: 1366px) {
    header, main, footer, div{
        width: auto;
    } 

    iframe{
        width: 100%;
    }
}

@media (max-width: 1024px) {
    header, main, footer, div{
        width: auto;
    } 

    iframe{
        width: 100%;
    }
    
}

@media (max-width: 768px) {
    header, main, footer, div{
        width: auto;
    } 

    iframe{
        width: 100%;
    }
}

@media (max-width: 480px) {
    header, main, footer, div{
        width: auto;
    } 

    h1, h2, h3, p{
        font-size: 10px;
    }

    img{
        width: 150px;
        height: 150px;
    }

    iframe{
        width: 100%;
    }

    .whats img {
        width: 35px;
    height: 35px;
}

@media screen and (max-width: 375px){
    header, main, footer, div{
        width: auto;
    } 

    h1, h2, h3, p{
        font-size: 20px;
    }

    img{
        width: 150px;
        height: 150px;
    }

    iframe{
        width: 100%;
    }

    .whats img {
        width: 35px;
    height: 35px;
    }
    
}












